.intro-image{
		 background-image:url(images/banner.jpg);

   background-repeat:no-repeat;

   background-size:cover;
    

	}

.houses{
		
		 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px solid;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #093301;
    margin-top: 5%;
		
	}
.books{
		
		 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px solid;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #34495e;
    margin-top: 5%;
		
	}
.characters{
		
		 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px solid;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #03484f;
    margin-top: 5%;
		
	}
