<!DOCTYPE html>
<html ng-app="GOT">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/file.css">
    </head>
     <header style="background-image: url('images/banner1.jpg')">
        
      </header>
<body ng-controller="mainController as mainCtrl">

 
   
    
    <a ng-click= "mainCtrl.booksShow()">BOOKS</a>
    <a ng-click= "mainCtrl.charactersShow()">HOUSES</a>
    <a ng-click= "mainCtrl.housesShow()">CHARACTERS</a>
    <div class="row">
                  <div ng-repeat = "item in mainCtrl.allData | orderBy:'name'">
                      <div ng-if="mainCtrl.book">
             
                    <books-dir ng-if ="item.isbn"></books-dir> 
                      </div>
                      <div ng-if="mainCtrl.character">

                    <houses-dir ng-if ="item.region"></houses-dir>
                      </div>
                      <div ng-if="mainCtrl.house">

               

                    <characters-dir ng-if ="item.gender"></characters-dir>
                      </div>
              
                  </div>
    </div>





 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
 <script type="text/javascript" src="angular/app.js"></script>
 <script type="text/javascript" src="angular/route.js"></script>
 <script type="text/javascript" src="angular/directives/directive.js"></script>
    <script type="text/javascript" src="angular/services/service.js"></script>
 <script type="text/javascript" src="angular/controller/mainController.js"></script>
</body>
</html>